@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-cairo bg-background;
    }
}

@layer components {
    .trans {
        @apply transition-colors duration-300 ease-in-out;
    }

    .t-trans {
        @apply transition-transform duration-300 ease-in-out;
    }
    .trans-all {
        @apply transition-all duration-300 ease-in-out;
    }
    .container {
        width: 90% !important;
        max-width: 1440px !important;
    }
    .container-fluid {
        width: 90% !important;
        max-width: 100% !important;
    }
    .abs-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .full-section {
        min-height: calc(100svh - 96px);
    }
    .flex-center {
        @apply flex justify-center items-center;
    }

    .border-color {
        @apply border-gray-300/40;
    }
    .main-border {
        @apply border  border-color;
    }
    .main-border-b {
        @apply border-b border-color;
    }
    .main-border-t {
        @apply border-t border-color;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }
    .fl-2
    {
        @apply flex flex-col gap-2.5
    }
    .fl-5
    {
        @apply flex flex-col gap-5
    }
    .fl-5
    {
        @apply flex flex-col gap-5
    }
    .fc {
        @apply flex items-center;
    }
    .btn {
        @apply px-5 py-2 rounded-full text-base;
    }
    .btn-lg {
        @apply px-7 py-2.5 rounded-full text-lg;
    }
    .btn-xl {
        @apply px-10 py-4 rounded-full text-xl;
    }
   
    .btn-primary-outline {
        @apply bg-transparent outline outline-2 text-primary-text  outline-secondary-text trans hover:bg-white hover:text-dark;
    }
    .btn-primary {
        @apply bg-primary text-primary-text trans  hover:bg-primary/70;
    }
    .btn-primary-outline {
        @apply bg-transparent outline outline-2 text-primary  outline-primary trans hover:bg-primary hover:text-primary-text;
    }

    .bg-blur {
        @apply absolute inset-0 w-full h-full backdrop-blur-lg -z-1;
    }
    .bg-blur-dark {
        @apply bg-gradient-to-br from-dark/40 to-black/40;
    }
    .bg-blur-light {
        background-image: none;
        @apply bg-white/5;
    }
}
